@model IEnumerable<ProfileMVCProject.Models.Profile>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Register">Click here to register</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEmployed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoticePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentCTC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmployed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticePeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCTC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
