@model IEnumerable<AccountClientMVCProject.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Transaction Details</h1>

<p>
    <a asp-action="Create">Create New Transaction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })

                </td>
            </tr>
        }

    </tbody>

</table>
@Html.ActionLink("View All Accounts", "GetAccounts")


